body{
    font-family: "Times New Roman", Times, serif;
    background-color:rgb(126, 179, 89) ;
}

/* navbar css starts here  */
.bg-light{
    background-color: rgb(184, 245, 189)!important;
}

.navbar-brand{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    color:rgb(4, 56, 9)!important;
}

.nav-link{
    color:rgb(24, 79, 19)!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color:rgb(226, 247, 220);
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(142, 237, 155)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(206, 245, 196)!important;
}
